@media screen and (min-width: 480px) {
    body {
        background-color: #e58e7c;
    }
}

nav {
	width: 15%;
	margin: auto;
	font-family: "Helvetica", Times, serif;
	padding: 20px;
	font-weight: bold;
}

.sites {
	background-image: url("images/texture.jpg");
	background-color: #ffffff;
	border: 1px solid #222222;
	margin: 20px;
	padding: 10px;
}

#homefoot {
	background-color: green;
}

nav a:link {
	text-decoration: none;
}

nav a:visited {
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    color: #aeff00;
}
